* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(white, green);
    height: 1000px;
}

.navbar {
    width: 100%;
    height: 75px;
    background-color: green;
}

.logo {
    width: 70%;
    float: left;
    height: 70px;
    font-size: 65px;
    font-family: fantasy;
    color: white;
    margin-left: 5%;
}


.menu {
    width: 20%;
    float: left;
    position: center;
    height: 70px;
}

h3 {
    color: green;
    font-size: 60px;
    position: relative;
    margin-top: 120px;
    margin-left: 45%;
    margin-bottom: 10%;
    font-family: sans-serif;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5));
}

ul {
    float: left;
    display: flex;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 90px;
    margin-top: 25px;
    font-size: 18px;
    color: white;
}

ul li a {
    text-decoration: none;
    color: white;
}

.menu :hover{
    scale: 1.02;
    color: rgb(135, 228, 135);
}

.help {
    height: 500px;
    width: 100%;
    color: darkgreen;
}

.help1 {
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 50px;
    color: green;
    margin-left: 45%;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5));

}

.help input {
    height: 80px;
    width: 80%;
    border: darkgreen;
    color: black;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-family: sans-serif;
    display: flex;
    margin-left: 10%;
}

.help button {
    list-style: none;
    margin-left: 45%;
    height: 35px;
    width: 100px;
    background: transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-top: 1px white;
    border-left: 1px white;
    font-size: 18px;
    font-weight: 100;
    font-family: sans-serif;
    color: darkgreen;
    margin-bottom: 50px;

}

.help h4 {
    margin-left: 10%;
    margin-bottom: 20px;
}

.help p {
    margin-left: 12%;
    ;
    margin-bottom: 20px;
    font-size: 20px;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: white;
    position: relative;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    box-shadow: #fff 1px 1px 3px;
}

.footer a {
    text-decoration: none;
    color: green;
    margin-left: 2px;
}

.footer a:hover {
    color: purple;
}